# Copyright Andreas Bartilson & Pontus Salenbo 2023-2024
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version. See the included LICENSE file for
# the full text of the GNU General Public License.

# Copyright Andreas Bartilson & Pontus Salenbo 2023
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version. See the included LICENSE file for
# the full text of the GNU General Public License.

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sw?


# Visual studio
.csproj
*.csproj.user
*.sln.DotSettings.user
*.sln.docstates
**/.vs/*
**/obj/*
**/bin/*
!**/bin/www

common/**/data/
.eslintcache
coverage
**/.env
**/*.db
courses.json

# Azure

__azurite_db*__.json
__blobstorage__
__queuestorage__
local.settings.json
test
heroku_release.*
check_rows.bat